[Unit]
Description=Starts a python script for navigateio beacon driver app

[Service]
ExecStart=/usr/local/etc/navigateio/main.py

[Install]
WantedBy=multi-user.target
